<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EJS</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
       
            <h1> Timeline </h1>
            </hr>
          
       

        
        
        <form action="/" method="POST">
           <h2>Post a message</h2>
            <textarea name="comment" row='3' ></textarea>
            <button>Post a message</button>
        </form>
        <div class="data">
        <% if(result) { %>
            <h1 class="result"> <%= result %> </h1>
        <% } %>
        
          <% if(allcomments.length > 0) { 
                allcomments.forEach( comment => { %>
                <h5> <%= comment.userName %> - <%= comment.created_at.toDateString() %></h5>
                    <p><%= comment.comment %></p>
                <% }) %>
            <% } else { %>
                <h3 class="err"> No comment found </h3>
            <% } %>
            </div>
        
    </body>
</html>